/.vscode
/bitwise
/c
/err.c
/err.exe
/lab11
/lab12
/lab6
/longsubstr.c
/longsubstr.exe
/mrgsrt.c
/mrgsrt.exe
/output
/output error
/primef.c
/pyq
/sorting.c
/sorting.exe
/str point
/structure
/t.c
/t.exe
/t1.c
/t1.exe
/t2.c
/t2.exe
/t3.c
/t3.exe
/tempCodeRunnerFile.c
/try.c
/try.exe
/tut.c
/tut.exe
/uniqcharsstr.c
/uniqcharsstr.exe